{{ with .Params.discussion_number }}
<div class="giscus-comments">
    <script
        src="https://giscus.app/client.js"
        data-repo="zevorn/blog"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzMjk0OTk1NjU="
        data-mapping="number"
        data-term="{{ . }}"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
    </script>
</div>
{{ end }}
